:root {
    --flexible: 16;
}

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

.buttonClear {
    margin-bottom: 10px;
    background-color: turquoise;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.cont {
    padding: 1px;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(var(--flexible), 1fr);
    grid-template-rows: repeat(var(--flexible1e), 1fr);
    justify-items:stretch;
    
    gap: 1px;
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    flex: 1 1 100%;
    margin-top: auto;
    box-shadow: rgb(8, 8, 8);
}


.grid {
/*     width: 20px;
    height: 20px; */
    background-color: coral;
    align-self:stretch;
    padding: 1px 1px;
    box-sizing: border-box;

}

.new {
    background-color: violet;
}
/* .grid:hover {
    background-color: yellow;
} */